@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> signInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@ViewData["Title"]</title>
    <!-- loader-->
    @*<link href="~/assets/css/pace.min.css" rel="stylesheet" />

        <script src="~/assets/js/pace.min.js"></script>*@
    <!--favicon-->
    <link rel="icon" href="~/assets/images/favicon.png" type="image/x-icon">
    <!-- Vector CSS -->
    <link href="~/assets/plugins/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet" />
    <!-- simplebar CSS-->
    <link href="~/assets/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
    <!-- Bootstrap core CSS-->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- animate CSS-->
    <link href="~/assets/css/animate.css" rel="stylesheet" type="text/css" />
    <!-- Icons CSS-->
    <link href="~/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <!-- Sidebar CSS-->
    <link href="~/assets/css/sidebar-menu.css" rel="stylesheet" />
    <!-- Custom Style-->
    <link href="~/assets/css/app-style.css" rel="stylesheet" />

     <!-- DataTables Style-->
    <link href="~/assets/css/datatables.css" rel="stylesheet"/>
    <link href="~/assets/css/custom.css" rel="stylesheet"/>
    <!-- DataTables Buttons Style-->
    <link href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css" rel="stylesheet" />

</head>

<body class="bg-theme bg-theme1">

    <!-- Start wrapper-->

    <div id="wrapper">

        @if (signInManager.IsSignedIn(User))
        {

            <!--Start sidebar-wrapper-->
            <div id="sidebar-wrapper" data-simplebar="" data-simplebar-auto-hide="true">
                <div class="brand-logo">
                    <a href="index.html">
                        <img src="~/assets/images/logo-icon.png" class="logo-icon" alt="logo icon">
                        <h5 class="logo-text">Atomic Synergistics</h5>
                    </a>
                </div>
                <ul class="sidebar-menu do-nicescrol">
                    @if (User.IsInRole("Admin") || User.IsInRole("HR") || User.IsInRole("Accounting"))
                    {
                        <li>
                            <a href="/">
                                <i class="zmdi zmdi-view-dashboard"></i> <span>Dashboard</span>
                            </a>
                        </li>

                    }

                    @*<li>
                        <a href="~/_Archive/icons.html">
                        <i class="zmdi zmdi-invert-colors"></i> <span>UI Icons</span>
                        </a>
                        </li>*@

                    @*<li>
                        <a href="forms.html">
                        <i class="zmdi zmdi-format-list-bulleted"></i> <span>Forms</span>
                        </a>
                        </li>*@
                    @if (User.IsInRole("Admin"))
                    {
                        <li>

                            <div class="btn-group dropdown">
                                <a class=" dropdown-toggle" href="javascript:void();" role="button" data-toggle="dropdown" aria-expanded="false">
                                    <i class="zmdi zmdi-account-box"></i> <span>Admin</span>
                                </a>

                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-action="ListRoles" asp-controller="Administration">Roles</a>
                                    <a class="dropdown-item" asp-action="ListUsers" asp-controller="Administration">Users</a>
                                </div>
                            </div>



                        </li>

                    }
                    @if (User.IsInRole("Accounting") || User.IsInRole("Admin"))
                    {
                        <li>
                            <a asp-action="Index" asp-controller="Products">
                                <i class="zmdi zmdi-devices"></i> <span>Products</span>
                            </a>
                        </li>

                    }
                    @if (User.IsInRole("Admin") || User.IsInRole("Human Resources") || User.IsInRole("Accounting"))
                    {
                        <li>
                            <a asp-action="Index" asp-controller="Employees">
                                <i class="zmdi zmdi-accounts"></i> <span>Employees</span>
                            </a>
                        </li>
                    }

                    @if (User.IsInRole("Human Resources") || User.IsInRole("Admin"))
                    {
                        <li>
                            <a asp-action="Index" asp-controller="Departments">
                                <i class="zmdi zmdi-group-work"></i><span>Departments</span>
                            </a>
                        </li>

                        <li>
                            <a asp-action="Index" asp-controller="Locations">
                                <i class="zmdi zmdi-map"></i><span>Locations</span>
                            </a>
                        </li>
                    }

                    @if (User.IsInRole("Accounting") || User.IsInRole("Admin"))
                    {
                        <li>
                            <a asp-action="Index" asp-controller="Customers">
                                <i class="zmdi zmdi-accounts-list"></i><span>Customers</span>
                            </a>
                        </li>

                        <li>
                            <a asp-action="Index" asp-controller="Sales">
                                <i class="zmdi zmdi-money"></i><span>Sales</span>
                            </a>
                        </li>

                        <li>
                            <a asp-action="Index" asp-controller="Orders">
                                <i class="zmdi zmdi-money-box"></i><span>Orders</span>
                            </a>
                        </li>

                        <li>
                            <a asp-action="Index" asp-controller="Vendors">
                                <i class="zmdi zmdi-assignment-account"></i><span>Vendors</span>
                            </a>
                        </li>

                    }
                    @if (User.IsInRole("Admin"))
                    {

                        <li>
                            <a asp-action="Index" asp-controller="Countries">
                                <i class="zmdi zmdi-pin-drop"></i><span>Countries</span>
                            </a>
                        </li>

                        <li>
                            <a asp-action="Index" asp-controller="ProductStatus">
                                <i class="zmdi zmdi-remote-control"></i><span>Product Status</span>
                            </a>
                        </li>

                        <li>
                            <a asp-action="Index" asp-controller="ProductTypes">
                                <i class="zmdi zmdi-device-hub"></i><span>Product Type</span>
                            </a>
                        </li>


                        <li>
                            <a asp-action="Index" asp-controller="Regions">
                                <i class="zmdi zmdi-view-week"></i><span>Regions</span>
                            </a>
                        </li>
                    }


                    @*  Created Logout Link since should already be logged in *@
                    @if (signInManager.IsSignedIn(User))
                    {
                        <li>
                            <a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <i class="zmdi zmdi-lock"></i> <span>Logout</span>
                            </a>

                        </li>

                    }

                    @*  REMOVED UNNEEDED LINKS *@
                    @* <li>
                        <a href="profile.html">
                        <i class="zmdi zmdi-face"></i> <span>Profile</span>
                        </a>
                        </li>*@
                    @*<li>
                        <a href="calendar.html">
                        <i class="zmdi zmdi-calendar-check"></i> <span>Calendar</span>
                        <small class="badge float-right badge-light">New</small>
                        </a>
                        </li>*@
                    @*  REMOVED UNNEEDED LINKS *@
                    @*<li>
                        <a href="login.html" target="_blank">
                        <i class="zmdi zmdi-lock"></i> <span>Login</span>
                        </a>
                        </li>*@

                    @*<li>
                        <a href="register.html" target="_blank">
                        <i class="zmdi zmdi-account-circle"></i> <span>Registration</span>
                        </a>
                        </li>*@

                    @*<li class="sidebar-header">LABELS</li>
                        <li><a href="javaScript:void();"><i class="zmdi zmdi-coffee text-danger"></i> <span>Important</span></a></li>
                        <li><a href="javaScript:void();"><i class="zmdi zmdi-chart-donut text-success"></i> <span>Warning</span></a></li>
                        <li><a href="javaScript:void();"><i class="zmdi zmdi-share text-info"></i> <span>Information</span></a></li>*@

                </ul>

            </div>
            <!--End sidebar-wrapper-->
            <!--Start topbar header-->
            <header class="topbar-nav">
                <nav class="navbar navbar-expand fixed-top">
                    <ul class="navbar-nav mr-auto align-items-center">
                        <li class="nav-item">
                            <a class="nav-link toggle-menu" href="javascript:void();">
                                <i class="icon-menu menu-icon"></i>
                            </a>
                        </li>
                        @*<li class="nav-item">
                            <form class="search-bar">
                                <input type="text" class="form-control" placeholder="Enter keywords">
                                <a href="javascript:void();"><i class="icon-magnifier"></i></a>
                            </form>
                        </li>*@



                    </ul>

                    <ul class="navbar-nav align-items-center right-nav-link">

                        @*<partial name="_LoginPartial" />*@

                        @*<li class="nav-item dropdown-lg">
                            <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown" href="javascript:void();">
                            <i class="fa fa-envelope-open-o"></i>
                            </a>
                            </li>
                            <li class="nav-item dropdown-lg">
                            <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown" href="javascript:void();">
                            <i class="fa fa-bell-o"></i>
                            </a>
                            </li>*@

                        <li class="nav-item">
                            <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown" href="#">
                                <span class="user-profile"><i class="zmdi zmdi-account zmdi-hc-2x"></i></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="dropdown-item user-details">
                                    <a href="javaScript:void();">
                                        <div class="media">
                                            @*<div class="avatar"><img class="align-self-start mr-3" src="https://via.placeholder.com/110x110" alt="user avatar"></div>*@
                                            <div class="media-body">
                                                @*<h6 class="mt-2 user-title">
                                                    
                                                </h6>*@
                                                <p class="user-subtitle align-self-center">@User.Identity?.Name</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="dropdown-divider"></li>
                                <li class="dropdown-item text-center"> <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><i class="icon-wallet mr-2"></i> <span>Account</span></a> </li>
                                <li class="dropdown-divider"></li>
                                @*                            <li class="dropdown-item text-center"><i class="icon-settings mr-2"></i> Setting</li>
                                    <li class="dropdown-divider"></li>*@
                                <li class="dropdown-item text-center"><a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })"><i class="icon-power mr-2"></i> Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </header>
            <!--End topbar header-->
            <div class="clearfix"></div>
        }


        <div class="content-wrapper">
            <div class="container-fluid">

                @RenderBody()




                <!--start overlay-->
                <div class="overlay toggle-menu"></div>
                <!--end overlay-->



            </div>
            <!-- End container-fluid-->

        </div><!--End content-wrapper-->
        <!--Start Back To Top Button-->
        <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
        <!--End Back To Top Button-->
        <!--Start footer-->
        <footer class="footer">
            <div class="container">
                <div class="text-center">
                    Copyright © @DateTime.Today.Year Atomic Synergistics
                </div>
            </div>
        </footer>
        <!--End footer-->
        @*        <!--start color switcher-->
            <div class="right-sidebar">
            <div class="switcher-icon">
            <i class="zmdi zmdi-settings zmdi-hc-spin"></i>
            </div>
            <div class="right-sidebar-content">

            <p class="mb-0">Gaussion Texture</p>
            <hr>

            <ul class="switcher">
            <li id="theme1"></li>
            <li id="theme2"></li>
            <li id="theme3"></li>
            <li id="theme4"></li>
            <li id="theme5"></li>
            <li id="theme6"></li>
            </ul>

            <p class="mb-0">Gradient Background</p>
            <hr>

            <ul class="switcher">
            <li id="theme7"></li>
            <li id="theme8"></li>
            <li id="theme9"></li>
            <li id="theme10"></li>
            <li id="theme11"></li>
            <li id="theme12"></li>
            <li id="theme13"></li>
            <li id="theme14"></li>
            <li id="theme15"></li>
            </ul>

            </div>
            </div>*@
        <!--end color switcher-->

    </div><!--End wrapper-->
    <!-- Bootstrap core JavaScript-->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>

    <!-- simplebar js -->
    <script src="~/assets/plugins/simplebar/js/simplebar.js"></script>
    <!-- sidebar-menu js -->
    <script src="~/assets/js/sidebar-menu.js"></script>
    <!-- loader scripts -->
    @*<script src="~/assets/js/jquery.loading-indicator.js"></script>*@
    <!-- Custom scripts -->
    <script src="~/assets/js/app-script.js"></script>
    <!-- Chart js -->

    <script src="~/assets/plugins/Chart.js/Chart.min.js"></script>

    <!-- Index js -->
    <script src="~/assets/js/index.js"></script>

    <!-- DataTables js -->
    @*<script src="~/assets/js/datatables.js"></script>*@
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
@*    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js" integrity="sha512-BkpSL20WETFylMrcirBahHfSnY++H2O1W+UnEEO4yNIl+jI2+zowyoGJpbtk6bx97fBXf++WJHSSK2MV4ghPcg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
*@    @if (!signInManager.IsSignedIn(User))
    {
        <script>

            $('#wrapper').addClass('toggled');
        </script>

    }


    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>