@model IEnumerable<AtomicSynergisitcs.DATA.Models.Customer>

@{
    ViewData["Title"] = "Customers";
}

<h1 class="text-center mb-2 d-flex">Customers</h1>

<p class="d-flex">
    <a class="btn btn-outline-info" asp-action="Create">Add New Customer</a>
</p>
<table class="table table-hover table-bordered bg-dark-light1">
    <thead>
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.ContactName)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.BillingCity)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.BillingState)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.BillingPostalCode)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>

                    <a asp-action="Details" asp-route-id="@item.CustomerId">@Html.DisplayFor(modelItem => item.CustomerName)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BillingCity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BillingState)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BillingPostalCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country.CountryName)
                </td>
                <td class="text-center">
                    <a asp-action="Edit" asp-route-id="@item.CustomerId">Edit</a> 
                    @if (User.IsInRole("Admin"))
                    {

                        <a asp-action="Delete" asp-route-id="@item.CustomerId"> | Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>

    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
    <script>
        $('.table').dataTable({

            dom: 'lBfrtip',
            buttons: [
                {
                    extend: 'excelHtml5',
                    title: 'Excel',
                    text: 'Export to excel',
                    className: 'btn'
                },
                {
                    extend: 'pdfHtml5',
                    title: 'PDF',
                    text: 'Export to PDF',
                    className: 'btn'
                }
            ]
        });
    </script>
    <script>
        $('.dt-buttons').addClass('ml-3').addClass('mb-1');
    </script>
}