@model AtomicSynergisitcs.DATA.Models.Location

@{
    ViewData["Title"] = "Details | " + Model.LocationName;
}

<h1>@Model.LocationName</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Location Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LocationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationPostalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationPostalCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country.CountryName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LocationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
