@model AtomicSynergisitcs.DATA.Models.Sale

@{
    ViewData["Title"] = "Details | Sale#" + Model.SaleId;
}

<h1>Sale #@Model.SaleId</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaleDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaleDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaleTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaleTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.ContactName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salesperson)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salesperson.FullName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SaleId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
